*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Wilderness';
    src: url(./assets/fonts/Wilderness.ttf);
}

html{
    font-family: 'Wilderness', cursive;
    font-size: 24px;
    color: white;
    text-shadow: 1px 3px 5px black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/home.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-color: #333333;
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 25px;
}

h2, h3{
    text-align: center;
}

.difficulty-section{
    display: flex;
    width: 25%;
    justify-content: center;
}

.difficulty-wrapper{
    gap: 10px;
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
}

.difficulty{
    text-align: center;
    width: 60%;
    border: 1px white solid;
    padding: 5px;
    cursor: pointer;
}

.difficulty:hover{
    transform: translateY(-2px);
}

.deck-section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.deck{
    width: 222px;
    height: 287px;
    background-size: cover;
    border: 1px solid brown;
}

.deck:hover{
    opacity: 0.7;
    cursor: pointer;
}

.azathoth{
    background-image: url(./assets/Ancients/Azathoth.jpg);
}

.cthulthu{
    background-image: url(./assets/Ancients/Cthulthu.jpg);
}

.iogsothoth{
    background-image: url(./assets/Ancients/IogSothoth.jpg);
}

.shobniggurath{
    background-image: url(./assets/Ancients/ShubNiggurath.jpg);
}

.shuffle-section{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    gap: 15px;
}

.shuffle{
    cursor: pointer;
    text-align: center;
}

.shuffle:hover{
    transform: translateY(-2px);
}

.stages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.green{
    background-color: green;
    padding: 7px;
    border-radius: 10px;
}

.brown{
    background-color: brown;
    padding: 7px;
    border-radius: 10px;
}

.blue{
    background-color: blue;
    padding: 7px;
    border-radius: 10px;
}

.card-background{
    width: 222px;
    height: 287px;
    background-image: url(./assets/mythicCardBackground.jpg);
    background-size: cover;
    cursor: pointer;
}

.card-background:hover{
    opacity: 0.8;
}

.chosen-card{
    width: 222px;
    height: 287px;
    background-size: cover;
}

.hidden{
    display: none;
}

.active{
    border: 2px solid green;
}

.active-difficulty{
    border: 2px solid red;
}

@media screen and (max-width: 980px) {
    .deck{
        width: 144px;
        height: 187px;
    }

    .card-background{
        width: 144px;
        height: 187px;
    }

    .chosen-card{
        width: 144px;
        height: 187px;
    }
}

@media screen and (max-width: 600px) {
    body{
        padding: 20px 0px;
        height: 100%;
    }
    
    html{
        font-size: 20px;
    }
    main{
        flex-direction: column;
    }

    .deck-section, .shuffle-section, .difficulty-section{
        width: 100%;
    }

    .deck{
        width: 111px;
        height: 144px;
    }

    .card-background{
        width: 111px;
        height: 144px;
    }

    .stages{
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    body{
        height: 100%;
    }
}